@model ProjetoMVC.Models.Produto

<h2>Excluir Produto</h2>

<p>Tem certeza de que deseja excluir o produto <strong>@Model.Nome</strong>? </p>

<form asp-action="Excluir" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit" class="btn btn-danger">Excluir</button>

    <a asp-action="Index" class="btn btn-primary">Cancelar</a>
</form>